@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
 @import url(http://weloveiconfonts.com/api/?family=entypo);
 html, body {
	 background-color: #F5F7FA;
	 color: #434A54;
	 font-family: 'Roboto', sans-serif;
}
 * {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 #twitter {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(0,172,238,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(0,172,238,0), inset 0 0 5px #009ad5, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(0,172,238,0), inset 0 0 5px #009ad5, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(0,172,238,0), inset 0 0 5px #009ad5, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #twitter:before {
	 content: "\f309";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #0087bb;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
         z-index: -5;
}
 #twitter:hover, #twitter:focus {
	 background-color: #00acee;
	 -webkit-box-shadow: 0 0 0 10px rgba(34,194,255,0.5), inset 0 0 0 0 #00acee, 0 0 5px 2px #003d55;
	 -moz-box-shadow: 0 0 0 10px rgba(34,194,255,0.5), inset 0 0 0 0 #00acee, 0 0 5px 2px #003d55;
	 box-shadow: 0 0 0 10px rgba(34,194,255,0.5), inset 0 0 0 0 #00acee, 0 0 5px 2px #003d55;
}
 #twitter:hover:before, #twitter:focus:before {
	 text-shadow: -1px -1px #0087bb;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #twitter:active, #twitter:checked {
	 background-color: #009ad5;
	 -webkit-box-shadow: 0 0 0 10px rgba(0,154,213,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(0,154,213,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(0,154,213,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(0,154,213,0.5), inset 0 0 0 0 #0087bb;
	 -moz-box-shadow: 0 0 0 10px rgba(0,154,213,0.5), inset 0 0 0 0 #0087bb;
	 box-shadow: 0 0 0 10px rgba(0,154,213,0.5), inset 0 0 10px #003d55;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #twitter:active:before, #twitter:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #facebook {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(59,89,152,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(59,89,152,0), inset 0 0 5px #344e86, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(59,89,152,0), inset 0 0 5px #344e86, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(59,89,152,0), inset 0 0 5px #344e86, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #facebook:before {
	 content: "\f30c";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #2d4373;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
         z-index: -5;
}
 #facebook:hover, #facebook:focus {
	 background-color: #3b5998;
	 -webkit-box-shadow: 0 0 0 10px rgba(76,112,186,0.5), inset 0 0 0 0 #3b5998, 0 0 5px 2px #10182a;
	 -moz-box-shadow: 0 0 0 10px rgba(76,112,186,0.5), inset 0 0 0 0 #3b5998, 0 0 5px 2px #10182a;
	 box-shadow: 0 0 0 10px rgba(76,112,186,0.5), inset 0 0 0 0 #3b5998, 0 0 5px 2px #10182a;
}
 #facebook:hover:before, #facebook:focus:before {
	 text-shadow: -1px -1px #2d4373;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #facebook:active, #facebook:checked {
	 background-color: #344e86;
	 -webkit-box-shadow: 0 0 0 10px rgba(52,78,134,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(52,78,134,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(52,78,134,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(52,78,134,0.5), inset 0 0 0 0 #2d4373;
	 -moz-box-shadow: 0 0 0 10px rgba(52,78,134,0.5), inset 0 0 0 0 #2d4373;
	 box-shadow: 0 0 0 10px rgba(52,78,134,0.5), inset 0 0 10px #10182a;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #facebook:active:before, #facebook:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #instagram {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(63,114,155,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(63,114,155,0), inset 0 0 5px #386589, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(63,114,155,0), inset 0 0 5px #386589, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(63,114,155,0), inset 0 0 5px #386589, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #instagram:before {
	 content: "\f32d";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #305777;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #instagram:hover, #instagram:focus {
	 background-color: #3f729b;
	 -webkit-box-shadow: 0 0 0 10px rgba(84,140,185,0.5), inset 0 0 0 0 #3f729b, 0 0 5px 2px #13222e;
	 -moz-box-shadow: 0 0 0 10px rgba(84,140,185,0.5), inset 0 0 0 0 #3f729b, 0 0 5px 2px #13222e;
	 box-shadow: 0 0 0 10px rgba(84,140,185,0.5), inset 0 0 0 0 #3f729b, 0 0 5px 2px #13222e;
}
 #instagram:hover:before, #instagram:focus:before {
	 text-shadow: -1px -1px #305777;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #instagram:active, #instagram:checked {
	 background-color: #386589;
	 -webkit-box-shadow: 0 0 0 10px rgba(56,101,137,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(56,101,137,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(56,101,137,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(56,101,137,0.5), inset 0 0 0 0 #305777;
	 -moz-box-shadow: 0 0 0 10px rgba(56,101,137,0.5), inset 0 0 0 0 #305777;
	 box-shadow: 0 0 0 10px rgba(56,101,137,0.5), inset 0 0 10px #13222e;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #instagram:active:before, #instagram:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #googleplus {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(221,75,57,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(221,75,57,0), inset 0 0 5px #d73925, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(221,75,57,0), inset 0 0 5px #d73925, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(221,75,57,0), inset 0 0 5px #d73925, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #googleplus:before {
	 content: "\f30f";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #c23321;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #googleplus:hover, #googleplus:focus {
	 background-color: #dd4b39;
	 -webkit-box-shadow: 0 0 0 10px rgba(228,115,101,0.5), inset 0 0 0 0 #dd4b39, 0 0 5px 2px #6b1c12;
	 -moz-box-shadow: 0 0 0 10px rgba(228,115,101,0.5), inset 0 0 0 0 #dd4b39, 0 0 5px 2px #6b1c12;
	 box-shadow: 0 0 0 10px rgba(228,115,101,0.5), inset 0 0 0 0 #dd4b39, 0 0 5px 2px #6b1c12;
}
 #googleplus:hover:before, #googleplus:focus:before {
	 text-shadow: -1px -1px #c23321;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #googleplus:active, #googleplus:checked {
	 background-color: #d73925;
	 -webkit-box-shadow: 0 0 0 10px rgba(215,57,37,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(215,57,37,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(215,57,37,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(215,57,37,0.5), inset 0 0 0 0 #c23321;
	 -moz-box-shadow: 0 0 0 10px rgba(215,57,37,0.5), inset 0 0 0 0 #c23321;
	 box-shadow: 0 0 0 10px rgba(215,57,37,0.5), inset 0 0 10px #6b1c12;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #googleplus:active:before, #googleplus:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #linkedin {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(14,118,168,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(14,118,168,0), inset 0 0 5px #0c6590, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(14,118,168,0), inset 0 0 5px #0c6590, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(14,118,168,0), inset 0 0 5px #0c6590, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #linkedin:before {
	 content: "\f318";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #0a5579;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #linkedin:hover, #linkedin:focus {
	 background-color: #0e76a8;
	 -webkit-box-shadow: 0 0 0 10px rgba(18,151,215,0.5), inset 0 0 0 0 #0e76a8, 0 0 5px 2px #02131b;
	 -moz-box-shadow: 0 0 0 10px rgba(18,151,215,0.5), inset 0 0 0 0 #0e76a8, 0 0 5px 2px #02131b;
	 box-shadow: 0 0 0 10px rgba(18,151,215,0.5), inset 0 0 0 0 #0e76a8, 0 0 5px 2px #02131b;
}
 #linkedin:hover:before, #linkedin:focus:before {
	 text-shadow: -1px -1px #0a5579;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #linkedin:active, #linkedin:checked {
	 background-color: #0c6590;
	 -webkit-box-shadow: 0 0 0 10px rgba(12,101,144,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(12,101,144,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(12,101,144,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(12,101,144,0.5), inset 0 0 0 0 #0a5579;
	 -moz-box-shadow: 0 0 0 10px rgba(12,101,144,0.5), inset 0 0 0 0 #0a5579;
	 box-shadow: 0 0 0 10px rgba(12,101,144,0.5), inset 0 0 10px #02131b;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #linkedin:active:before, #linkedin:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #behance {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(0,92,255,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(0,92,255,0), inset 0 0 5px #0053e6, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(0,92,255,0), inset 0 0 5px #0053e6, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(0,92,255,0), inset 0 0 5px #0053e6, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #behance:before {
	 content: "\f34e";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #004acc;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #behance:hover, #behance:focus {
	 background-color: #005cff;
	 -webkit-box-shadow: 0 0 0 10px rgba(51,125,255,0.5), inset 0 0 0 0 #005cff, 0 0 5px 2px #002566;
	 -moz-box-shadow: 0 0 0 10px rgba(51,125,255,0.5), inset 0 0 0 0 #005cff, 0 0 5px 2px #002566;
	 box-shadow: 0 0 0 10px rgba(51,125,255,0.5), inset 0 0 0 0 #005cff, 0 0 5px 2px #002566;
}
 #behance:hover:before, #behance:focus:before {
	 text-shadow: -1px -1px #004acc;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #behance:active, #behance:checked {
	 background-color: #0053e6;
	 -webkit-box-shadow: 0 0 0 10px rgba(0,83,230,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(0,83,230,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(0,83,230,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(0,83,230,0.5), inset 0 0 0 0 #004acc;
	 -moz-box-shadow: 0 0 0 10px rgba(0,83,230,0.5), inset 0 0 0 0 #004acc;
	 box-shadow: 0 0 0 10px rgba(0,83,230,0.5), inset 0 0 10px #002566;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #behance:active:before, #behance:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #evernote {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(91,165,37,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(91,165,37,0), inset 0 0 5px #509020, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(91,165,37,0), inset 0 0 5px #509020, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(91,165,37,0), inset 0 0 5px #509020, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #evernote:before {
	 content: "\f333";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #447b1c;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #evernote:hover, #evernote:focus {
	 background-color: #5ba525;
	 -webkit-box-shadow: 0 0 0 10px rgba(114,207,46,0.5), inset 0 0 0 0 #5ba525, 0 0 5px 2px #162809;
	 -moz-box-shadow: 0 0 0 10px rgba(114,207,46,0.5), inset 0 0 0 0 #5ba525, 0 0 5px 2px #162809;
	 box-shadow: 0 0 0 10px rgba(114,207,46,0.5), inset 0 0 0 0 #5ba525, 0 0 5px 2px #162809;
}
 #evernote:hover:before, #evernote:focus:before {
	 text-shadow: -1px -1px #447b1c;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #evernote:active, #evernote:checked {
	 background-color: #509020;
	 -webkit-box-shadow: 0 0 0 10px rgba(80,144,32,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(80,144,32,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(80,144,32,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(80,144,32,0.5), inset 0 0 0 0 #447b1c;
	 -moz-box-shadow: 0 0 0 10px rgba(80,144,32,0.5), inset 0 0 0 0 #447b1c;
	 box-shadow: 0 0 0 10px rgba(80,144,32,0.5), inset 0 0 10px #162809;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #evernote:active:before, #evernote:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #dribble {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(234,76,137,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(234,76,137,0), inset 0 0 5px #e7357a, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(234,76,137,0), inset 0 0 5px #e7357a, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(234,76,137,0), inset 0 0 5px #e7357a, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #dribble:before {
	 content: "\f31b";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #e51e6b;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #dribble:hover, #dribble:focus {
	 background-color: #ea4c89;
	 -webkit-box-shadow: 0 0 0 10px rgba(239,122,167,0.5), inset 0 0 0 0 #ea4c89, 0 0 5px 2px #8d1040;
	 -moz-box-shadow: 0 0 0 10px rgba(239,122,167,0.5), inset 0 0 0 0 #ea4c89, 0 0 5px 2px #8d1040;
	 box-shadow: 0 0 0 10px rgba(239,122,167,0.5), inset 0 0 0 0 #ea4c89, 0 0 5px 2px #8d1040;
}
 #dribble:hover:before, #dribble:focus:before {
	 text-shadow: -1px -1px #e51e6b;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #dribble:active, #dribble:checked {
	 background-color: #e7357a;
	 -webkit-box-shadow: 0 0 0 10px rgba(231,53,122,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(231,53,122,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(231,53,122,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(231,53,122,0.5), inset 0 0 0 0 #e51e6b;
	 -moz-box-shadow: 0 0 0 10px rgba(231,53,122,0.5), inset 0 0 0 0 #e51e6b;
	 box-shadow: 0 0 0 10px rgba(231,53,122,0.5), inset 0 0 10px #8d1040;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #dribble:active:before, #dribble:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #pinterest {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(200,35,44,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(200,35,44,0), inset 0 0 5px #b21f27, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(200,35,44,0), inset 0 0 5px #b21f27, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(200,35,44,0), inset 0 0 5px #b21f27, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #pinterest:before {
	 content: "\f312";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #9d1b22;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #pinterest:hover, #pinterest:focus {
	 background-color: #c8232c;
	 -webkit-box-shadow: 0 0 0 10px rgba(222,64,73,0.5), inset 0 0 0 0 #c8232c, 0 0 5px 2px #460c0f;
	 -moz-box-shadow: 0 0 0 10px rgba(222,64,73,0.5), inset 0 0 0 0 #c8232c, 0 0 5px 2px #460c0f;
	 box-shadow: 0 0 0 10px rgba(222,64,73,0.5), inset 0 0 0 0 #c8232c, 0 0 5px 2px #460c0f;
}
 #pinterest:hover:before, #pinterest:focus:before {
	 text-shadow: -1px -1px #9d1b22;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #pinterest:active, #pinterest:checked {
	 background-color: #b21f27;
	 -webkit-box-shadow: 0 0 0 10px rgba(178,31,39,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(178,31,39,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(178,31,39,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(178,31,39,0.5), inset 0 0 0 0 #9d1b22;
	 -moz-box-shadow: 0 0 0 10px rgba(178,31,39,0.5), inset 0 0 0 0 #9d1b22;
	 box-shadow: 0 0 0 10px rgba(178,31,39,0.5), inset 0 0 10px #460c0f;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #pinterest:active:before, #pinterest:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #skype {
	 outline: 0 none;
	 cursor: pointer;
	 position: relative;
	 display: inline-block;
	 width: 70px;
	 height: 70px;
	 padding: 0px;
	 margin: 22px;
	 color: #FFF;
	 border: 0 none;
	 background-color: rgba(0,175,240,0.8);
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 -webkit-box-shadow: 0 0 0 20px rgba(0,175,240,0), inset 0 0 5px #009cd7, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -moz-box-shadow: 0 0 0 20px rgba(0,175,240,0), inset 0 0 5px #009cd7, 0 1px 1px 1px rgba(255,255,255,0.4);
	 box-shadow: 0 0 0 20px rgba(0,175,240,0), inset 0 0 5px #009cd7, 0 1px 1px 1px rgba(255,255,255,0.4);
	 -webkit-transition: all 0.4s ease;
	 -moz-transition: all 0.4s ease;
	 -ms-transition: all 0.4s ease;
	 -o-transition: all 0.4s ease;
	 transition: all 0.4s ease;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 -ms-backface-visibility: hidden;
	 backface-visibility: hidden;
}
 #skype:before {
	 content: "\f339";
	 color: #FFF;
	 font-family: 'entypo', sans-serif;
	 font-size: 35px;
	 line-height: 70px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 70px;
	 height: 70px;
	 text-shadow: 0 0 10px #008abd;
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -ms-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}
 #skype:hover, #skype:focus {
	 background-color: #00aff0;
	 -webkit-box-shadow: 0 0 0 10px rgba(36,196,255,0.5), inset 0 0 0 0 #00aff0, 0 0 5px 2px #003f57;
	 -moz-box-shadow: 0 0 0 10px rgba(36,196,255,0.5), inset 0 0 0 0 #00aff0, 0 0 5px 2px #003f57;
	 box-shadow: 0 0 0 10px rgba(36,196,255,0.5), inset 0 0 0 0 #00aff0, 0 0 5px 2px #003f57;
}
 #skype:hover:before, #skype:focus:before {
	 text-shadow: -1px -1px #008abd;
	 -webkit-transform: scale(1.1);
	 -moz-transform: scale(1.1);
	 -ms-transform: scale(1.1);
	 -o-transform: scale(1.1);
	 transform: scale(1.1);
}
 #skype:active, #skype:checked {
	 background-color: #009cd7;
	 -webkit-box-shadow: 0 0 0 10px rgba(0,156,215,0.5);
	 -moz-box-shadow: 0 0 0 10px rgba(0,156,215,0.5);
	 box-shadow: 0 0 0 8.3333333333333px rgba(0,156,215,0.5);
	 -webkit-box-shadow: 0 0 0 10px rgba(0,156,215,0.5), inset 0 0 0 0 #008abd;
	 -moz-box-shadow: 0 0 0 10px rgba(0,156,215,0.5), inset 0 0 0 0 #008abd;
	 box-shadow: 0 0 0 10px rgba(0,156,215,0.5), inset 0 0 10px #003f57;
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 #skype:active:before, #skype:checked:before {
	 color: rgba(255,255,255,0.8);
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 -ms-transform: scale(1);
	 -o-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: all 0.1s ease;
	 -moz-transition: all 0.1s ease;
	 -ms-transition: all 0.1s ease;
	 -o-transition: all 0.1s ease;
	 transition: all 0.1s ease;
}
 .pen-container {
	 position: relative;
	 max-width: 680px;
	 margin: 0 auto;
	 padding: 50px 30px;
	 text-align: center;
	 background-color: #F0F2F5;
	 -webkit-box-shadow: inset 0 0 20px 20px #F5F7FA;
	 -moz-box-shadow: inset 0 0 20px 20px #F5F7FA;
	 box-shadow: inset 0 0 20px 20px #F5F7FA;
}
 .pen-container:before, .pen-container:after {
	 content: " ";
	 position: absolute;
	 left: 0px;
	 width: 100%;
	 height: 30px;
	 background-color: #F5F7FA;
}
 .pen-container:before {
	 top: 0px;
	 -webkit-box-shadow: 0 14px 14px -12px #AAB2BD;
	 -moz-box-shadow: 0 14px 14px -12px #AAB2BD;
	 box-shadow: 0 14px 14px -12px #AAB2BD;
}
 .pen-container:after {
	 bottom: 0px;
	 -webkit-box-shadow: 0 -14px 14px -12px #AAB2BD;
	 -moz-box-shadow: 0 -14px 14px -12px #AAB2BD;
	 box-shadow: 0 -14px 14px -12px #AAB2BD;
}
 h1 {
	 font-weight: 200;
	 font-size: 3.1em;
	 text-align: center;
	 color: #656D78;
	 text-shadow: 0 1px #FFF;
	 margin: 1em 0;
}


.fa {
    font-size: 12vw !important;
}


@media(min-width:768px) {
.fa {
    font-size: 3vw !important;
}
}

@media(width:800px) {
.fa {
    font-size: 4vw !important;
}
}


@media(width:768px) {
.fa {
    font-size: 5vw !important;
}
}


@media(width:1024px) {
.fa {
    font-size: 4vw !important;
}
}

.contacticoncontainers{
position: fixed;
top: 60vh;
left: 70vw;
z-index: 99999999;
animation: contactgrow 2s linear infinite;
}

@media(min-width:768px){

.contactmessangericons{
height: 20%;
width: 20%;
}

.contacticoncontainers{
left: 85vw;
}
}

.contactmessangericons{
height: 40%;
width: 40%;
}

element.style {
    width: 70vw !important;
}

@keyframes contactgrow {
	0%{
transform: scale(1);
}
	50%{
transform: scale(0.95);
}

	100%{
transform: scale(1);
}
} 
